p {
  font-family: verdana;
}

image-container { 
  text-align: right;
  margin: 0;
  padding: 0;
  width: 100%;
}

image-container img {
  width:100%;
  height:auto;
}

.mt-3 {
  text-align: right;
}
body {
  background-color: black;
  margin: 0;
  padding: 0;
}

.footer {
  background-color: #222;
  color: #fff;
  text-align: center;
  padding: 1rem;
  position: relative;
  bottom: 0;
  width: 100%;
}

.contact-title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh; /* Full viewport height */
  background-color: #9c7050;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap:1.5rem;
}

.main-image {
  background-image: url('image1.jpg');
  height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no repeat;
  background-size: cover;
  position: relative;
  z-index: 0;
}

.submit-btn {
  padding: 0.75rem;
  background-color:  #9c7050
  color: white;
  border: none;
  font-size: 1rem;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-btn:hover {
  background-color: #5e2e0c;
}

div.gallery {
  border: 1px solid #ccc;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
  color: #9c7050;
}

* {
  box-sizing: border-box;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

h2 {
  text-align: center;
  colour: #9c7050;
}

input[type=text] {
  width: 40%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #9c7050;
}

input[type=email] {
  width: 40%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #9c7050;
}

input[type=tel] {
  width: 40%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #9c7050;
}

select[name=service] {
  width: 80%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #9c7050;
}

input[type=date] {
  width: 30%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #9c7050;
}

input[type=number] {
  width: 20%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #9c7050;
}

select[name=ampm] {
  width: 10%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
   border: 2px solid #9c7050;
}

textarea {
  width: 80%;
  height: 150px;
  box-sizing: border-box;
  border: 2px solid #9c7050;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
}

input[type=submit] {
  background-color: #9c7050;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}

div {
  backgrond-color: #9c7050;
  background-radius: 5px;
  padding: 20px;
}
