.image-container {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.5;
}

.text-overlay {
  position: absolute;
  top: 40%;
  left: 25%;
  transform: translate(-50%, -50%);
  color: black;
  font-size: 65px;
  text-align: left;
}

#small words {
  position: absolute;
  top: 55%;
  left: 25%;
  transform: translate(-50%, -50%);
  color: black;
  font-size: 65px;
  text-align: left;
}
